body{
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#Title{
    margin-top: 20px;
}

#Link{
    color: var(--text);
}

#Main-Table{
    margin: 0 auto;
    border-collapse: collapse;
}

#Main-Table td{
    border: 3px solid var(--border);
    text-align: center;
    height: 40px;
}

#Main-Table tbody td:hover{
    background-color: var(--input-hover);
    cursor: pointer;
}

#Main-Table tbody td:active{
    background-color: var(--input-active);
}

#Accept-Button{
    color: rgb(40, 180, 40);
}

#Delete-Button, #Cancel-Button{
    color: rgb(255, 80, 80);
}

#Left-Arrow, #Right-Arrow{
    color: rgb(90, 155, 255);
}

#Revert-Table{
    color: rgb(255, 125, 75);
}

#New-Button, #New-Input{
    width: 30vw;
}


.Dark-Theme{
    --background: #212529;
    --text: rgba(255, 255, 255, 0.87);
    --border: rgb(200, 200, 200);
    --input-background: #a9a9a950;
    --input-hover: #a9a9a975;
    --input-active: darkgray;
}

.Light-Theme{
    --background: #FFFFFF;
    --text: black;
    --border:black;
    --input-background: #a9a9a980;
    --input-hover: #a9a9a975;
    --input-active: #a9a9a9;
}

.Main-Header{
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}

.Column-Header{
    text-align: center;
    margin: 5px;
    width: 30vw;
    font-size: 3rem;
}

.Input, .Button{
    border: 2px solid var(--border);
    border-radius: 3px;

    color: var(--text);
    background-color: var(--input-background);

    font-size: 2rem;
    font-weight: inherit;
    text-align: center;

    margin: 5px;
    padding: 5px;
}

.Button:hover{
    background-color: var(--input-hover);
    cursor: pointer;
}

.Button:active{
    background-color: var(--input-active);
}

.Hidden{
    visibility: hidden;
    display: none;
}

.Shown{
    visibility: visible;
    display: inline-block;
}


