body{
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    transition: background-color 3s;
}

#Title{
    margin-top: 20px;
}

#Link{
    color: var(--text);
}

#Main-Table{
    margin: 0 auto;
    border-collapse: collapse;
}

#Main-Table td{
    border: 3px solid var(--border);
    text-align: center;
    height: 40px;
}

#Main-Table tbody td:hover{
    background-color: var(--input-hover);
    cursor: pointer;
    transition: background-color 0.25s;
}

#Main-Table tbody td:active{
    background-color: var(--input-active);
    transition: background-color 0.25s;
}

#Accept-Button{
    color: rgb(40, 180, 40);
    transition: color 0.5s;
}

#Delete-Button, #Cancel-Button{
    color: rgb(255, 80, 80);
    transition: color 0.5s;
}

#Left-Arrow, #Right-Arrow{
    color: rgb(90, 155, 255);
    transition: color 0.5s;
}

#Revert-List{
    color: rgb(255, 125, 75);
}

#Clear-List{
    color: rgb(235, 55, 235)
}

#View-Tasks{
    color: rgb(255, 215, 0)
}

#New-Button, #New-Input{
    width: 30vw;
}

.Dark-Theme{
    --background: #212529;
    --text: rgba(255, 255, 255, 0.87);
    --border: rgb(200, 200, 200);
    --input-background: #a9a9a950;
    --input-hover: #a9a9a975;
    --input-active: darkgray;
}

.Light-Theme{
    --background: #FFFFFF;
    --text: black;
    --border:black;
    --input-background: #a9a9a980;
    --input-hover: #a9a9a975;
    --input-active: #a9a9a9;
}

.Main-Header{
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
}

.Column-Header{
    text-align: center;
    margin: 5px;
    width: 30vw;
    font-size: 3rem;
}

.Input, .Button{
    border: 2px solid var(--border);
    border-radius: 3px;

    color: var(--text);
    background-color: var(--input-background);

    font-size: 2rem;
    font-weight: inherit;
    text-align: center;

    margin: 5px;
    padding: 5px;
}

.Button:hover{
    background-color: var(--input-hover);
    cursor: pointer;
    transition: background-color 0.25s;
}

.Button:active{
    background-color: var(--input-active);
    transition: background-color 0.25s;
}

.Hidden{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
    transition: visibility 0.5s, opacity 0.5s;
}

.Shown{
    visibility: visible;
    position: static;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s;
}


